<table class="table table-striped overflow-auto vh-25 d-block" (scroll)="onTableScroll($event)">
  <tbody>
      <tr *ngFor="let question of questionList; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td (click)="onQuestionView(question)">{{ question.title }}</td>      
        <td>{{ question.created_at | date }}</td>
        <td>
          <input type="checkbox" [checked]="question.is_liked" (click)="addFavQuestion(question.id)">
        </td>
      </tr>
  </tbody>
</table>

<app-question-view [question]="currentQuestion" [answers]="answers" [offset]="offset" *ngIf="currentQuestion"></app-question-view>