<div class="container mb-4 p-3 d-flex justify-content-center">
  <div class="card p-4">
    <h4 class="text-center">My filters</h4>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <label for="location">Location</label>
        <input type="text" name="location" id="location" (input)="locationEvent($event)">
      </li>
      <li class="nav-item">
        <label for="favorite">Favorite</label>
        <input type="checkbox" name="favorite" id="favorite" (change)="favoriteEvent($event)">
      </li>
    </ul>
  </div>
</div>